body{
    
}
.shapka{
    display: flex;
    border: solid black 1px;
    height: 200px;
    width: 100%;
    justify-content: space-evenly;
   
    align-items: center;
    background-color: blueviolet;
}
a{
    text-decoration: none;
}
.knopka1{
    border: solid black 1px;
    height: 100px;
    width: 200px;
    display:flex;
    background-color: blue;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    
    font-size: 30px;
    font-weight:bolder
    
}
.knopka2{
    border: solid black 1px;
    height: 100px;
    width: 200px;
    display:flex;
    background-color: blue;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 30px;
    font-weight:bolder
    
}
.knopka3{
    border: solid black 1px;
    height: 100px;
    width: 200px;
    display:flex;
    background-color: blue;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    
    font-size: 30px;
    font-weight:bolder
    
}
.knopka1:hover{
    background-color: darkblue;
    color:crimson;
}
.knopka2:hover{
    background-color: darkblue;
    color:crimson;
}
.knopka3:hover{
    background-color: darkblue;
    color:crimson;
}
.container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3,300px);
    grid-template-areas: "a a b c"
                         "d e b f"
                         "d j j f";
}
.box1{
    grid-area: a;
    border: solid black 1px;
    opacity: 50%;
}
.box2{
    grid-area: b;
    border: solid black 1px;
    opacity: 50%;
}
.box3{
    grid-area: c;
    border: solid black 1px;
    opacity: 50%;
}
.box4{
    grid-area: d;
    border: solid black 1px;
    opacity: 50%;
}
.box5{
    grid-area: e;
    border: solid black 1px;
    opacity: 50%;
}
.box6{
    grid-area: f;
    border: solid black 1px;
    opacity: 50%;
}
.box7{
    grid-area: j;
    border: solid black 1px;
    opacity: 50%;
}
.box1:hover{
    opacity: 100%;
}
.box2:hover{
    opacity: 100%;
}
.box3:hover{
    opacity: 100%;
}
.box4:hover{
    opacity: 100%;
}
.box5:hover{
    opacity: 100%;
}
.box6:hover{
    opacity: 100%;
}
.box7:hover{
    opacity: 100%;
}
.zag{
    justify-content: center;
    display: flex;
    color: chocolate;
}
@media (max-width:500px){
.container{
    grid-template-rows: repeat(3,110px);
}
.container2{
    display: flex;
    
}
}
.tipok{
    width: 200px;
    height: 100px;
    opacity: 70%;
    position: absolute;
    left: 1700px;
    

}
.tipok:hover{
    opacity: 100%;
}
.text-tipok{
    opacity:0%;
    
    border: solid black 1px;
    
    height: 100px;
    width: 10%;
    position: absolute;
    left: 1550px;
    bottom: ;
}
.text-tipok:hover{
    opacity: 100%;
}
.text-tipok2{
  font-size: 18px;  
    

}
.tipok:hover +.text-tipok{
    opacity: 100%;
}
.container3{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2,100px);
    grid-template-areas: "g b r y"
                         "w w w w";
}
.item1{
    border: 1px solid black;
grid-area: g;
background-color: green;
}
.item2{
    border: 1px solid black;
    grid-area: b;
background-color: blue;
}
.item3{
    border: 1px solid black;
    grid-area: r;
    background-color: red;
}
.item4{
    border: 1px solid black;
    grid-area: y;
    background-color: yellow;

}
.item5{
    border: solid black 1px;
    grid-area: w;
}
.item1:hover ~.item5{
    background-color: green;
}
.item2:hover ~.item5{
    background-color: blue;
}
.item3:hover ~.item5{
    background-color: red;
}
.item4:hover ~.item5{
    background-color: yellow;
}
@media(max-width:500px) {
.tipok{
    
    
    left: 150px;
    

}
    
}
@media(max-width:500px) {
.text-tipok{
    
    
    left: 130px;
    

}
    
}
@media(max-width:500px) {
.text-tipok2{
  font-size: 2vw;  
    

}
}
.zag2{
    color: chocolate;
    display: flex;
    justify-content: center;
}
@media(max-width:500px) {
.text-tipok1{
  width: 1000%; 
    

}
